@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    background-color: #232323;
}

main{
    min-height: 150vh;
    margin-bottom: 130px;
}
/*HEADER*/
header {
    width: 100%;
    height: 90px;
    background-color: #161616;
    display: flex;
    position: fixed;
    z-index: 1000; 
}
header.scrolled {
    background-color: #16161697; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.logoCont {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 5%;
}
.logoCont img {
    height: 45px;
    width: 45px;
}
.logoCont img:hover {
    transition: all 0.1s ease;
    transform: scale(1.1);
}
.logoCont p {
    font-size: 28px;
}
.navCont {
    width: 50%;
    height: 100%;
}
.navCont_list {
    font-size: 20px;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    list-style: none;
}
.navCont_list li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navCont_list a {
    text-decoration: none;
    color: white;
}
.navCont_list a:hover {
    transition: all 0.1s ease ;
    color: #3fa33d;
}
/*FOOTER*/
footer {
    width: 100%;
    height: 180px;
    background-color: #161616;
    display: flex;
}
.footer__logoCont {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 5%;
    font-size: 30px;
}
.footer__logoCont img {
    height: 60px;
    width: 60px;
}
.footer__logoCont img:hover {
    transition: all 0.1s ease;
    transform: scale(1.1);
}

.footer__reservationLinks,.footer__infoLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.footer__reservationLinks p,.footer__infoLinks p,.footer__socialMedia p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #3fa33d;
}
.footer__reservationLinks_links{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer__reservationLinks a,.footer__infoLinks_links a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #3fa33d;
    text-decoration: underline;
    transition: all 0.1s ease;  
}   
.footer__infoLinks_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer__socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.footer__socialMedia_links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer__socialMedia_links img{
    height: 50px;
    width: 50px;
}
.footer__socialMedia_links img:hover{
    transition: all 0.1s ease;
    transform: scale(1.1);
}
.copy{
    font-size: 14px;
    color: white;
    margin-top: 20px;
}