

main {
    min-height: 150vh;
}

/*LANDING*/
.landing {
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 47, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing__textCont {
    text-align: center;
    width: 60%;
    font-size: 30px;
}

.landing__textCont h2 {
    margin-bottom: 50px;
}

.landing__btn {
    background-color: rgb(56, 118, 73);
    font-size: 28px;
    padding: 20px 50px 20px 50px;
    margin-top: 100px;
    text-decoration: none;
    color: white;
}

/*STORY*/

.ourStory {
    margin-top: 150px;
    height: 700px;
    width: 100%;
    display: flex;
}

.ourStory__photoCont,
.ourStory__textCont {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourStory__photoCont {
    gap: 20px;
}
.ourStory__photoCont__left,
.ourStory__photoCont__right {
    width: 280px;
}
.ourStory__photoCont__right {
    margin-top: 60px;
}
.ourStory__photoCont img {
    height: 300px;
    width: 280px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
}
.ourStory__textCont {
    font-size: 24px;
    flex-direction: column;
    padding: 50px 200px 50px 50px;
}

.ourStory h3 {
    font-size: 40px;
    width: 100%;
    margin-bottom: 30px;
}

/*TODAYS SPECIALS*/
.todaySpecials {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todaySpecials__titleCont {
    width: 45%;
    height: 200px;
    text-align: center;
    font-size: 24px;
}
.todaySpecials__titleCont h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
.todaySpecials__foodCont {
    width: 75%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.dishCont {
    height: 100%;
    width: 25%;
    border-radius: 3px;
    overflow: hidden;
}
.dish__imgCont {
    width: 100%;
    height: 60%;
    background-color: rgb(213, 113, 113);
}
.dish__imgCont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dish__infoCont {
    height: 40%;
    padding: 20px 40px 20px 40px;
    background-color: #393939;
}
.dish__infoCont__name {
    font-size: 18px;
    margin-bottom: 25px;
}
.dish__infoCont__time {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 25px;
}
.dish__infoCont__time img {
    width: 20px;
    height: 20px;
}
.dish__price {
    width: 100%;
    display: flex;
    margin: auto;
}
.dish__price p {
    color: white;
    width: 50%;
}
.dish__price a {
    color: white;
    width: 50%;
    display: flex;
    justify-content: right;
}


/*DISCOVER US*/

.discoverUs {
    width: 100%;
    height: 500px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 5%;
    gap: 100px;
}
.discoverUs__textCont {
    width: 50%;
    font-size: 24px;
    padding: 100px;
}
.discoverUs__textCont h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
.discoverUs__imgCont {
    width: 35%;
    height: 350px;
    border-radius: 3px;
    overflow: hidden;
}
.discoverUs__imgCont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*GALLERY*/
.gallery {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
.gallery__titleCont {
    width: 45%;
    height: 200px;
    text-align: center;
    font-size: 24px;
}
.gallery__titleCont h3 {
    margin-bottom: 30px;
    font-size: 40px;
}
.gallery__imgCont {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gallery__imgCont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery__colum1,
.gallery__colum2,
.gallery__colum3 {
    width: 27%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery__colum2 img {
    height: 48%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
/*OPINIONS*/
.opinions {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/platos/pancakes.avif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.opinions__userCont {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.opinions__userImg{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
}
.opinions__userImg img{
    height: 100% ;
    width: 100%;
    object-fit: cover;
}
.opinions__userText{
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    font-size: 22px;
}