h1 {
    margin: auto;
    font-size: 42px;
}
#presupuestoForm {
    width: 1000px;
    margin: auto;
    padding: 50px 20px 50px 20px;
    border: 2px solid white;
    border-radius: 2px;

}
.fieldsetCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    height: 70%;
    background-color: aqua;
}
fieldset {
    padding: 40px;
    border: none;
    background-color: #161616;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    height: 10%;
}
.inputCont {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto input {
    width: 90%;
    height: 50px;
    background-color: #393939;
    border: none;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.platos label {
    font-size: 20px;
    height: 40px;
    width: 90%;
}

.platos select {
    height: 50px;
    width: 90%;
    background-color: #393939;
    color: white;
    border: none;
}

.platos select {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0 20px 0 20px;
}
.extra {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    width: 70%;
    gap: 10px;
    font-size: 18px;
}

.presupuesto {
    background-color: #393939;
    width: 95%;
    margin: auto;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacidadCont {
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 18px;
    margin: auto;
}
.privacidadCont a{
    text-decoration: none;
    color: white;
}
.privacidadCont:hover a{
    text-decoration: underline;
    color: rgb(40, 77, 53);
}

.btnCont{
    width: 95%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
button{
    width: 300px;
    font-size: 24px;
    padding: 20px;
}